.header {
    height: 100px;
    padding: 0px 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 998;
    &__item {
        flex: 1;
        display: flex;
        align-items: center;
        &:nth-child(2) {
            flex: 3;
        }
        &:last-child {
            justify-content: flex-end;
        }
    }
    &__callButton {
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        width: 50px;
        height: 50px;
    }
    &__texts {
        margin-left: 20px;
        color: white;
    }
    &__text {
        &:first-child {
            font-size: 12px;
            font-weight: 500;
        }
        &:nth-child(2) > a{
            text-decoration: none;
            color: white;
        }
        &:last-child {
            font-size: 20px;
            font-weight: bold;
        }
    }
    &__list {
        padding: 0;
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        & > li {
            cursor: pointer;
        }
    }
    &__listItem {
        margin: 20px;
        font-weight: 500;
    }
    &__cart {
        position: relative;
        cursor: pointer;
    }
    &__quant {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #d1411e;
    }
    &__logo {
        cursor: pointer;
    }
}

@media screen and (max-width: 970px){
    .header {
        &__text {
            display: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 0 20px;
        justify-content: center;
        &__list > li {
            display: none;
        }
    }
}